@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-controller="QueryString" asp-action="GetString">
    @*<input name="first" />
    <button type="submit" value="Submit">Submit</button>*@
    <a asp-route-first="gulshan">Click Here</a>
</form>