@model ASPCORE.ViewModels.StudentViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enrolled" class="control-label"></label>
                <input asp-for="Enrolled" class="form-control" />
                <span asp-validation-for="Enrolled" class="text-danger"></span>
            </div>
            <div class="form-group">
                @for (int i = 0; i < Model.Courses?.Count; i++)
                {
                    <input asp-for="Courses[i].Value" type="hidden" class="form-control" />//here taking id with each checkbox for storing in db on Selected type like true or false of checkbox
                    <input asp-for="Courses[i].Selected" class="form-control" />@Model.Courses[i].Text /*here making checkboxes*/
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
